html, body {
    height: 100%;
}

body {
    width: 1520px;
    height: 100%; 
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: row;
}

input, select, textarea {
    border-radius: 5px;
    border: 1px solid rgb(120, 102, 102);
    cursor: pointer;
}

.left {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 100%; 
}

.right {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 100%;
}

#form_left {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 700px; 
    overflow-y: auto; 
    padding-top: 30px;
}

#form_left button {
    margin-top: 20px;
}

.div_tempo {
    height: 700px;
    width: 640px;
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin-top: 20px;
}

.tab1 {
    height: 200px;
    width: 20%;
    text-align: center;
}

.tab1 input {
    height: 20px;
}

.tab1, select {
    height: 25px;
    width: 180px;
    text-align: center;
}

.tab2 {
    height: 100%;
    width: 80%;
    text-align: center;
}

.tab2 input {
    width: 75px;
    text-align: center;
}

.tab2 select {
    width: 60px;
    height: 20px;
    text-align: center;
}

.time_footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-align: right;
    width: 670px;
    height: 40px;
    gap: 2px;
}

.time_footer input {
    width: 75px;
    text-align: center;
}

.div_mat {
    height: 700px;
    width: 890px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-bottom: 20px;
}

.tab3 {
    height: 180px;
    text-align: center;
}

.tab3, #quantMat1, #quantMat2, #quantMat3, #quantMat4, #quantMat5, #quantMat6, #quantMat7, #quantMat8, #quantMat9, #quantMat10 {
    width: 60px;
    text-align: center;
}

.tab3, #descricao1, #descricao2, #descricao3, #descricao4, #descricao5, #descricao6, #descricao7, #descricao8, #descricao9, #descricao10 {
    width: 480px;
} 

.tab3, #precUnit1, #precUnit2, #precUnit3, #precUnit4, #precUnit5, #precUnit6, #precUnit7, #precUnit8, #precUnit9, #precUnit10 {
    width: 60px;
    text-align: center;
}

.tab3, #precTot1, #precTot2, #precTot3, #precTot4, #precTot5, #precTot6, #precTot7, #precTot8, #precTot9, #precTot10 {
    width: 60px;
    text-align: center;
}

.div_procura {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 5px;
}

#ticket {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.div_km {
    height: 200px;
    width: 660px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    padding: 5px;
}

.div_km input{
    margin-top: 20px;
    margin-right: 65px;
    width: 100px;   
}

.div_km label{
    margin-top: 20px; 
}

.div_trabEfetuados {
    height: 200px;
    width: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

#submit {
    margin-bottom: 20px;
}

.form_menu {
    width: 100%;
    height: 100%;
    overflow-y: auto; 
}

.form_menu select {
    width: 100px;
    height: 30px;
}

.form_menu input {
    height: 25px;
}

.div_menuright0, .div_menuright1, .div_menuright2, .div_menuright3, .div_menuright4, .div_menuright5, .div_menuright6 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.div_menuright0 {
    height: 190px;
    justify-content: center;
}

.div_menuright1 {
    gap: 5px;
    height: 260px;
}

.div_menuright2_3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div_menuright4_5 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div_menuright2 {
    height: 200px;
    gap: 5px;
    width: 50%;
    text-align: center;
}

.div_menuright3 {
    height: 200px;
    gap: 5px;
    width: 50%;
    text-align: center;
}

.div_menuright4 {
    height: 350px;
    gap: 5px;
    width: 50%;
    text-align: center;
}

.div_menuright5 {
    height: 350px;
    gap: 5px;
    width: 50%;
    text-align: center;
}

.div_menuright6 {
    height: 170px;
    gap: 5px;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.div_menuright2 select {
    width: 100px;
    text-align: center;
}

.div_menuright3 select {
    width: 100px;
    text-align: center;
}

.div_menuright4 select {
    width: 100px;
    text-align: center;
}

.div_menuright5 select {
    width: 100px;
    text-align: center;
}

.div_menuright6 select {
    width: 100px;
    text-align: center;
}

.div_title{
    width: 100%;
    height: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

h3 {
    font-size: 20px;
}

h2 {
    font-size: 25px;
}

body {
    background-color: #dfdfee;
    background-image: 
        radial-gradient(at 47% 33%, hsl(180.00, 90%, 51%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(190.46, 52%, 59%) 0, transparent 55%);
}

.form_menu, #form_left {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgb(149, 228, 250);
    border-radius: 12px;
    border: 5px solid rgb(255, 255, 255);
}

.div_procura {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgb(55, 205, 246);
    border-radius: 12px;
    border: 3px solid rgb(255, 255, 255);
    color: white;
}

.div_procura input {
    width: 200px;
    height: 30px;
    margin: 5px;
    border: 1px solid rgb(120, 102, 102);
    border-radius: 5px;
    text-align: center;
}   

.div_tempo, .div_mat {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgb(55, 205, 246);
    border-top: 3px solid rgb(255, 255, 255);
    border-left: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
    color: white;
}

.div_mat {
    border: 3px solid rgb(255, 255, 255);
}

.time_footer {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgb(55, 205, 246);
    border-left: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
    color: white;
}

.div_km {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgb(55, 205, 246);
    border-bottom: 3px solid rgb(255, 255, 255);
    border-left: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
    color: white;
}

.div_km input {
    width: 50px;
    height: 25px;
}

.div_trabEfetuados{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgb(55, 205, 246);
    border: 3px solid rgb(255, 255, 255);
    color: white;
}

.div_menuright0 {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgb(55, 205, 246);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: white;
}

.div_menuright1 {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgb(55, 205, 246);
    border-left: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
    color: white;
}

.div_title {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgb(55, 205, 246);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: white;
    height: 50px;
}

.form_menu {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgb(55, 205, 246);
    color: white;
}

button {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgb(0, 170, 255);
    border-radius: 12px;
    border: 3px solid rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    margin-top: 5px;
    width: 150px;
    height: 35px;
    cursor: pointer;
}

button:hover, #submit:hover {
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 170, 255);
    color:rgb(0, 170, 255);
}

#submit {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgb(0, 170, 255);
    border-radius: 12px;
    border: 3px solid rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    margin-top: 5px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

#th {
    color: rgb(55, 205, 246);
}

h2 {
    color: rgb(255, 255, 255);
}
