html, body {
    height: 100%;
}

body {
    width: 1520px;
    height: 100%; 
    border: 2px solid;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: row;
}

.left {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 100%; 
    border: 2px solid yellow;
}

.right {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 100%;
    border: 2px solid rgb(9, 1, 255);
}

#form_left {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 700px; 
    overflow-y: auto; 
    border: 7px solid rgb(2, 253, 115);
    padding-top: 30px;
}

#form_left button {
    margin-top: 20px;
}

.div_tempo {
    height: 700px;
    width: 900px;
    border: 2px solid gray;
    display: flex;
    flex-direction: row;
}

.tab1 {
    height: 100%;
    width: 20%;
    border: 1px solid red;
    text-align: center;
    gap: 10px;
}

.tab1 input {
    height: 20px;
}

.tab2 {
    height: 100%;
    width: 80%;
    border: 1px solid red;
    text-align: center;
}

.tab2 input {
    width: 50px;
    text-align: center;
}

.tab2 select {
    width: 60px;
    height: 20px;
    text-align: center;
}

.time_footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-align: right;
    border: 2px solid orange;
    width: 900px;
    height: 50px;
    gap: 2px;
}

.time_footer input {
    width: 50px;
    text-align: center;
}

.div_mat {
    height: 300px;
    width: 900px;
    border: 2px solid rgb(53, 3, 250);
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.tab3 {
    height: 180px;
    border: 1px solid rgb(7, 248, 43);
    text-align: center;
}

.tab3, #quantMat1, #quantMat2, #quantMat3, #quantMat4, #quantMat5, #quantMat6, #quantMat7, #quantMat8, #quantMat9, #quantMat10 {
    width: 60px;
    text-align: center;
}

.tab3, #descricao1, #descricao2, #descricao3, #descricao4, #descricao5, #descricao6, #descricao7, #descricao8, #descricao9, #descricao10 {
    width: 480px;
} 

.tab3, #precUnit1, #precUnit2, #precUnit3, #precUnit4, #precUnit5, #precUnit6, #precUnit7, #precUnit8, #precUnit9, #precUnit10 {
    width: 60px;
    text-align: center;
}

.tab3, #precTot1, #precTot2, #precTot3, #precTot4, #precTot5, #precTot6, #precTot7, #precTot8, #precTot9, #precTot10 {
    width: 60px;
    text-align: center;
}

.div_procura {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 300px;
    padding: 10px;
}

.div_km {
    height: 200px;
    width: 700px;
    border: 2px solid black;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.div_km input {
    width: 100px;   
}

.div_trabEfetuados {
    height: 200px;
    width: 700px;
    border: 2px solid black;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

#submit {
    margin-bottom: 50px;
}

.form_menu {
    width: 100%;
    height: 100%;
    border: 2px solid lime;
    overflow-y: auto; 
}

.div_menuright0, .div_menuright1, .div_menuright2, .div_menuright3, .div_menuright4, .div_menuright5, .div_menuright6 {
    width: 100%;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_menuright0 {
    height: 120px;
    justify-content: center;
}

.div_menuright1 {
    gap: 5px;
    height: 250px;
}

.div_menuright2_3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div_menuright4_5 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div_menuright2 {
    height: 200px;
    gap: 5px;
    width: 50%;
}

.div_menuright3 {
    height: 200px;
    gap: 5px;
    width: 50%;
}

.div_menuright4 {
    height: 270px;
    gap: 5px;
    width: 50%;
}

.div_menuright5 {
    height: 270px;
    gap: 5px;
    width: 50%;
}

.div_menuright6 {
    height: 110px;
    gap: 5px;
    width: 100%;
    justify-content: center;
}

.div_menuright2 select {
    width: 100px;
    text-align: center;
}

.div_menuright3 select {
    width: 100px;
    text-align: center;
}

#bt_voltar {
    margin: 5px;
}

.div_title{
    width: 100%;
    height: 20px;
    border: 2px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
